body{
    background: rgb(77, 100, 179);
    font: normal 20pt Calibri;
}

header{
    color: rgb(39, 37, 37);
    text-align: center;
}

section{
    background: #fff;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px gray;
}

footer{
    color: #fff;
    text-align: center;
    font-size: italic;
}

.button{
    text-align: left;
    width: 130px !important;
    height: 30px !important;
    border-radius: 10px !important;
    color: rgb(38, 20, 136) !important;
    margin: -50px; 
    position:relative !important;
    left:25% !important;
    margin-bottom: 30px;
}

.buttonClear{
    text-align: left;
    width: 130px !important;
    height: 30px !important;
    border-radius: 10px !important;
    color: rgb(38, 20, 136) !important;
    margin: -30px; 
    position:relative !important;
    left:50% !important;
    margin-bottom: 30px;
}

form, label {
    display: block;
    padding: 10px;
}

form {
    
    width: 500px;
    margin: 10px;
}

label {
    text-align: left;
}

input {
    display: inline-block;
    width: 150px;
    padding-left: 20px;
}

#gerarTabuada{
    display: none;
}